.about {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(104, 122, 122, 0.1) 0%,
    rgba(45, 52, 52, 0.1) 37.42%,
    rgba(22, 27, 27, 0.1) 65.69%,
    rgba(17, 20, 20, 0.1) 80.46%
  );
  background-attachment: fixed;

  .header {
    padding: 220px 0 150px 0;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: var(--h2);
      text-align: center;
      text-transform: uppercase;
    }
  }

  .aboutMe {
    padding: 0 100px 100px 100px;

    .content {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        width: 35%;
        height: 500px;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;

        .item {
          border-radius: 16px;
          position: relative;
          overflow: hidden;

          .img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            transition: filter 0.3s ease;
          }

          .img:hover {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
            transition: filter 0.3s ease;
          }
        }

        .a {
          grid-column: span 2;
          grid-row: span 1;
        }

        .b {
          grid-column: span 2;
          grid-row: span 2;
        }

        .c {
          grid-column: span 2;
          grid-row: span 2;
        }

        .d {
          grid-column: span 2;
          grid-row: span 1;
        }
      }

      .right {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-size: var(--h6);

        b {
          font-family: "Atyp Display Semibold", sans-serif;
        }
      }
    }
  }

  .experience {
    padding: 0 100px 36px 100px;

    .item {
      padding: 40px 0;

      .title {
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        gap: 24px;

        span {
          font-size: var(--large);
          font-family: "Monument Extended Regular", sans-serif;
          letter-spacing: 0.9px;
        }
      }

      .details {
        padding-left: 100px;
        padding-bottom: 24px;
        display: flex;

        .left {
          width: 250px;
          color: var(--gray);
          font-size: var(--large);
        }

        .right {
          .position {
            font-family: "Atyp Display Semibold", sans-serif;
            font-size: var(--large);
          }
          .description {
            padding-top: 16px;
            padding-left: 24px;
            letter-spacing: 0.8px;
          }
        }
      }
    }
  }

  .education {
    padding: 0 100px 76px 100px;

    .item {
      margin-top: 40px;

      .details {
        padding-left: 100px;
        padding-bottom: 24px;
        display: flex;

        .date {
          width: 250px;
          color: var(--gray);
          font-size: var(--large);
        }

        .school {
          font-size: var(--large);

          b {
            font-family: "Atyp Display Semibold", sans-serif;
          }
        }
      }
    }
  }

  .tech {
    padding: 0 100px 100px 100px;

    .container {
      margin: 40px auto 0 auto;
      max-width: 1000px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 48px;
      flex-wrap: wrap;
      pointer-events: none;
    }
  }
}
