.contact {
  height: 100vh;
  padding: 120px 100px 0 100px;

  display: flex;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    padding: 120px 50px 0 50px;
  }

  .header {
    display: flex;
    justify-content: space-between;

    .title {
      display: flex;
      align-items: center;
      gap: 36px;

      .line {
        width: 68px;
        height: 16px;
        border-radius: 100px;
        background: linear-gradient(90deg, #d6d6d6 0%, #111414 100%);
      }

      .text {
        font-size: var(--h5);
        letter-spacing: 1.2px;
        text-transform: uppercase;
      }

      @media screen and (max-width: 768px) {
        gap: 16px;

        .line {
          width: 36px;
        }

        .text {
          font-size: var(--normal);
        }
      }
    }

    .icons {
      display: flex;

      @media screen and (max-width: 470px) {
        display: none;
      }
    }
  }

  .icons {
    gap: 24px;

    .iconContainer {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      transition: ease-in 0.3s;
      background-color: var(--white);

      .icon {
        width: 24px;
        height: 24px;
        color: var(--black);
      }

      &:hover {
        .icon {
          opacity: 0.8;
          transition: ease-in 0.3s;
        }
      }
    }

    @media screen and (max-width: 640px) {
      gap: 16px;

      .iconContainer {
        width: 36px;
        height: 36px;

        .icon {
          width: 18px;
          height: 18px;
        }
      }
    }
  }

  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 4px;

      h1 {
        font-size: var(--h2);
        text-transform: uppercase;
      }

      p {
        color: var(--gray);
        font-family: "Atyp Display Medium", sans-serif;
        font-size: var(--h5);
        margin-bottom: 24px;
      }

      @media screen and (max-width: 1024px) {
        h1 {
          font-size: var(--h3);
        }

        p {
          font-size: var(--h6);
        }
      }

      @media screen and (max-width: 640px) {
        h1 {
          font-size: var(--h4);
        }
      }
    }

    .icons {
      display: none;

      @media screen and (max-width: 470px) {
        display: flex;
      }
    }

    .circle {
      position: relative;
      width: 200px / 2;
      height: 200px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: ease-in 0.3s;

      .logo {
        position: absolute;
        width: 180px;
        height: 180px;

        display: flex;
        justify-content: center;
        align-items: center;

        .arrow {
          width: 120px;
          height: 120px;
        }
      }

      .text {
        position: absolute;
        width: 100%;
        height: 100%;
        animation: rotateText 10s linear infinite;
      }

      @keyframes rotateText {
        0% {
          transform: rotate(-360deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }

      .text span {
        position: absolute;
        left: 50%;
        font-family: "Atyp Display Bold", sans-serif;
        text-transform: uppercase;
        font-size: 18px;
        transform-origin: 0 100px;
      }

      &:hover {
        scale: 115%;
        transition: ease-in 0.3s;
      }
    }
  }

  .footer {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid;

    .text {
      display: flex;
      align-items: center;
      gap: 8px;
      font-family: "Atyp Display Medium", sans-serif;
    }

    .link {
      cursor: pointer;
      opacity: 100%;
      transition: ease-in 0.3s;

      &:hover {
        opacity: 70%;
        transition: ease-in 0.3s;
      }
    }

    @media screen and (max-width: 640px) {
      .text,
      .link {
        font-size: var(--small);
      }
    }

    @media screen and (max-width: 500px) {
      flex-direction: column;
      justify-content: center;
      gap: 16px;
    }
  }
}
