.screenshots {
  .title {
    margin-top: 80px;
  }

  .container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    .item {
      width: 100%;
      aspect-ratio: 16/9;
      border-radius: 16px;
      position: relative;
      overflow: hidden;

      .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 28px;
    }
  }
}
