.container {
  padding: 0 100px 120px 100px;

  .tabs {
    display: flex;
    gap: 16px;

    .tab {
      width: 270px;
      height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      font-size: var(--h6);
      font-family: "Monument Extended Regular", sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: ease-in 0.3s;
      cursor: pointer;

      @media screen and (max-width: 580px) {
        font-size: var(--normal);
      }
    }

    .active {
      background-color: var(--dark-gray);
    }

    .inactive {
      background: var(--dark-gray);
      color: var(--gray);
      opacity: 50%;

      &:hover {
        color: var(--white);
      }
    }
  }

  .content {
    display: flex;
    width: 100%;
    padding: 52px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: var(--dark-gray);

    .projects {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 60px;
    }
  }

  @media screen and (max-width: 1150px) {
    .content {
      padding: 36px;

      .projects {
        grid-template-columns: repeat(1, 1fr);
        gap: 42px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0 40px 80px 40px;
  }

  @media screen and (max-width: 640px) {
    .content {
      padding: 24px;
      border-top-right-radius: 0;
    }
  }
}
