@font-face {
  font-family: "Atyp Display Regular";
  src: url("/fonts/atyp-display/AtypDisplayTRIAL-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Atyp Display Italic";
  src: url("/fonts/atyp-display/AtypDisplayTRIAL-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Atyp Display Medium";
  src: url("/fonts/atyp-display/AtypDisplayTRIAL-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Atyp Display Medium Italic";
  src: url("/fonts/atyp-display/AtypDisplayTRIAL-MediumItalic.otf")
    format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Atyp Display Semibold";
  src: url("/fonts/atyp-display/AtypDisplayTRIAL-Semibold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Atyp Display Semibold Italic";
  src: url("/fonts/atyp-display/AtypDisplayTRIAL-SemiboldItalic.otf")
    format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Atyp Display Bold";
  src: url("/fonts/atyp-display/AtypDisplayTRIAL-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Atyp Display Bold Italic";
  src: url("/fonts/atyp-display/AtypDisplayTRIAL-BoldItalic.otf")
    format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Monument Extended Regular";
  src: url("/fonts/monument-extended/MonumentExtended-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Monument Extended Ultrabold";
  src: url("/fonts/monument-extended/MonumentExtended-Ultrabold.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --black: #111414;
  --dark-gray: #242626;
  --gray: #686868;
  --white: #d6d6d6;

  --h1: 60px;
  --h2: 54px;
  --h3: 36px;
  --h4: 28px;
  --h5: 24px;
  --h6: 20px;
  --large: 18px;
  --normal: 16px;
  --small: 14px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--black);
  font-family: "Atyp Display Regular", sans-serif;
  color: var(--white);
  font-size: var(--normal);
}

h1 {
  font-family: "Monument Extended Regular", sans-serif;
  font-weight: 400;
  letter-spacing: 1.2px;
}

p {
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 130%;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}
